.roboto-<roboot> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    font-family: roboto;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

ul {
    list-style-type: none;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.right-links {
    display: flex;
    gap: 30px;
}

.awesome {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;    
   
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtitle {
    font-size: 18px;
    font-weight: 200;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 10px;
    width: fit-content;
}

.the-duck-gang {
    max-width: 600px;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.awesome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    gap: 50px;
}

.left-awesome {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 50px 50px;
}

.the-lonely-duck {
    max-width: 200px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

.illustrations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
    padding-bottom: 50px;
}

.image {
    max-width: 250px;
    width: 100%;
}

.penultimate {
    background-color: #e5e7eb;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    padding: 100px 200px;
    gap: 18px;
    flex-shrink: 1;
}

.thor {
    font-size: 36px;
    font-style: italic;
    display: flex;
    font-weight: 100;
    justify-content: center;
}

.the-sig {
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: right;
}

.the_blue_thing {
    background-color: #3882f6;
    color: #f9faf8;
}

.call {
    font-weight: 600;
    font-size: 24px;
}

.sign {
    font-weight: 100;
    
}